<template>
  <div class="barrow__wrapper">
    <div class="barrow__items">
      <img src="~/assets/img/scroll__top.svg" alt="" class="scroll__top" />
    </div>
  </div>
</template>

<script>
export default {
  mounted() {
    const btn = $(".barrow__wrapper");
    $(window).scroll(function () {
      if ($(window).scrollTop() > 200) {
        btn.addClass("show");
      } else {
        btn.removeClass("show");
      }
    });
    $(document).ready(function () {
      const btn = $(".scroll__top");
      btn.on("click", function (e) {
        e.preventDefault();
        $("html, body").animate({ scrollTop: 0 }, "500");
      });
    });
  },
};
</script>
<style lang="scss">
@import "~/assets/styles/variables";
.barrow__wrapper {
  display: none;
  position: fixed;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  top: calc(100vh - 120px);
  left: calc(100vw - 60px);
  background: $orange;
  padding: 10px;
  z-index: 0;
  opacity: 0;
  transition: opacity 0.5s, visibility 0.5s;
  visibility: hidden;
  img {
    width: 30px;
    margin-top: 2px;
  }
}
.barrow__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.barrow__dark {
  background: $dark !important;
}

.show {
  visibility: visible;
  opacity: 1;
}
@media (max-width: $breakpoint-xs) {
  .barrow__wrapper {
    display: block;
  }
}
</style>