<template>
  <div class="header__wrapper">
    <nav class="header__menu">
      <Menu />
      <div
        class="header__name"
        v-if="
          this.$route.path == '/aboutus/' ||
          this.$route.path == '/ouroffer' ||
          this.$route.path == '/portfolio' ||
          this.$route.path == '/contact' ||
          this.$route.path == '/business' ||
          this.$route.path == '/partners'
        "
      >
        <slot name="header__name"></slot>
      </div>

      <div class="ouroffer__headers" v-if="this.$route.path == '/branding'">
        Branding
      </div>
      <div class="ouroffer__headers" v-if="this.$route.path == '/marketing'">
        Marketing
      </div>
      <div class="ouroffer__headers" v-if="this.$route.path == '/webdesign'">
        web design
      </div>
      <nuxt-link to="/">
        <div class="sygnet">
          <img src="~/assets/img/logo.svg" alt="" />
        </div>
      </nuxt-link>
    </nav>

    <nuxt-link to="/">
      <div class="logo">
        <img src="~/assets/img/logo__menu.png" alt="" />
      </div>
    </nuxt-link>
  </div>
</template>

<script>
import Menu from "./Menu";
export default {
  components: {
    Menu,
  },
  mounted() {},
};
</script>
<style lang="scss" >
@import "~/assets/styles/variables";
@import "~/assets/styles/fonts";
.header__wrapper {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  align-items: center;
  max-width: 100vw;
  .logo img {
    height: 45px;
  }
  .logo:hover {
    cursor: url("~assets/img/cursor.png") 40 20, auto;
  }
}
.sygnet {
  display: none;
}
@media (max-width: $breakpoint-xs) {
  .header__wrapper {
    padding: 10px 25px;
    max-width: 100vw;
  }
  .logo {
    display: none;
  }
  .sygnet {
    display: block;
    padding: 10px 1px;
  }
}
.header__menu {
  display: flex;
}
.header__name {
  display: flex;
  font-size: 48px;
  align-self: center;
  justify-content: center;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  font-family: $bc;
  font-weight: 400;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
  &::before {
    display: inline-block;
    content: url("~assets/img/aboutus/header__before.svg");
    line-height: 48px;
    margin: -10px 20px 0 50px;
    color: red;
  }
}
@media (max-width: $breakpoint-xs) {
  .header__menu {
    flex-direction: row-reverse;
    width: 100vw;
    // -webkit-width: 100vw;
    justify-content: space-between;
    align-items: center;
  }
  .header__name {
    font-size: 24px !important;
    line-height: 28px;
    letter-spacing: 1.2px;
    margin-left: 10%;
  }
  .header__name::before {
    display: none;
    margin-left: 0px;
  }
}
.ouroffer__headers {
  width: calc(50vw - 75px);
  display: flex;
  justify-content: flex-end;
  font-size: 48px;
  align-self: center;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  font-family: $bc;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}
@media (max-width: $breakpoint-xs) {
  .ouroffer__headers {
    width: 50vw;
    // margin-left: 10%;
    font-size: 28px;
    letter-spacing: 1.4px;
    line-height: 30px;
    -webkit-text-stroke-width: 1px;
  }
  .header__name {
    -webkit-text-stroke-width: 1px;
  }
  .menu__btn__xs {
    -webkit-top: 17px;
    top: 23px;
    left: 85% !important;
    -webkit-left: 90% !important;
  }
  .menu__wrapper__xs {
    top: 10px;
    -webkit-top: 10px;
    left: 90%;
    -webkit-left: 90%;
  }
}
</style>