<template>
  <div class="loading__wrapper">
    <div ref="loading__img" class="loading__img"></div>
  </div>
</template>
<script>
export default {
  data: () => {
    return {
      isLoaded: true,
    };
  },

  mounted() {
    document.onreadystatechange = () => {
      if (document.readyState == "complete") {
        this.showToggle();
      }
    };

    const { loading__img } = this.$refs;
    // gsap.to(".loading__wrapper", {
    //   display: "none",
    //   duration: 1,
    //   delay: 2,
    // });
  },
  methods: {
    showToggle() {
      setTimeout(() => {
        this.isLoaded = false;
      }, 2000);
    },
  },
};
</script>
<style>
/* @import "~/assets/styles/variables"; */
@media (max-width: 768px) {
  .loading {
    display: none;
  }
}
.loading__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 4000;
}
.loading__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
  background: url("../assets/img/loading1.jpg");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  animation: changeImg 2s ease;
  /* animation-delay: 1s; */
}
@keyframes changeImg {
  0% {
    background: url("../assets/img/loading1.jpg");
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  25% {
    background: url("../assets/img/loading2.jpg");
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  50% {
    background: url("../assets/img/loading3.jpg");
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  75% {
    background: url("../assets/img/loading4.jpg");
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  100% {
    background: url("../assets/img/loading5.jpg");
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
}
</style>
