<template>
  <div>
    <div class="wrapper">
      <div
        class="menu__btn"
        @click="clickOnMenu()"
        :class="{ closeMenu: closeMenu }"
      >
        <div class="menu__btn__xs" v-if="sx">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="closedMenu" :class="{ openMenu: openMenu }">
          <span></span>
          <span></span>
        </div>
        <span class="menu--txt">MENU</span>
      </div>
      <div class="menu__wrapper white" :class="[{ active: active }]"></div>
      <div
        v-if="sx"
        class="menu__wrapper__xs white"
        :class="[{ active__xs: active }, { active__xs__opacity: !active }]"
      ></div>
      <div class="menu__content white" :class="{ showMenu: showMenu }">
        <ul>
          <nuxt-link
            @click.native="clickOnMenu()"
            to="/aboutus/"
            class="button__xs__menu"
            id="#aboutus"
          >
            <li>about us</li>
          </nuxt-link>
          <nuxt-link
            @click.native="clickOnMenu()"
            to="/ouroffer"
            class="button__xs__menu"
            id="#offer"
          >
            <li>our offer</li>
          </nuxt-link>
          <nuxt-link
            @click.native="clickOnMenu()"
            to="/branding"
            class="button__xs__menu"
            id="#branding"
          >
            <li class="sub__item">branding</li>
          </nuxt-link>
          <nuxt-link
            @click.native="clickOnMenu()"
            to="/marketing"
            class="button__xs__menu"
            id="#marketing"
          >
            <li class="sub__item">marketing</li>
          </nuxt-link>
          <nuxt-link
            @click.native="clickOnMenu()"
            to="/webdesign"
            class="button__xs__menu"
            id="#webdesign"
          >
            <li class="sub__item">web design</li>
          </nuxt-link>
          <nuxt-link
            @click.native="clickOnMenu()"
            to="/business"
            class="button__xs__menu"
            id="#business"
          >
            <li>business</li>
          </nuxt-link>
          <nuxt-link
            @click.native="clickOnMenu()"
            to="/partners"
            class="button__xs__menu"
            id="#partners"
          >
            <li>Partners</li>
          </nuxt-link>
          <!-- <nuxt-link @click.native="clickOnMenu()" to="/portfolio">
          <li>portfolio</li>
        </nuxt-link> -->
          <nuxt-link
            @click.native="clickOnMenu()"
            to="/contact"
            class="button__xs__menu"
            id="#contact__img"
          >
            <li>contact</li>
          </nuxt-link>
        </ul>
      </div>
      <div class="menu__hover__img" v-show="!hidePicture">
        <img
          src="~/assets/img/menu/team.jpg"
          alt=""
          class="page__xs__menu circle__img"
          id="aboutus"
        />
        <img
          src="~/assets/img/menu/offer.jpg"
          alt=""
          class="page__xs__menu circle__img"
          id="offer"
        />
        <img
          src="~/assets/img/menu/branding.png"
          alt=""
          class="page__xs__menu"
          id="branding"
        />
        <img
          src="~/assets/img/menu/marketing.png"
          alt=""
          class="page__xs__menu"
          id="marketing"
        />
        <img
          src="~/assets/img/menu/webdesign.png"
          alt=""
          class="page__xs__menu"
          id="webdesign"
        />
        <img
          src="~/assets/img/menu/business.jpg"
          alt=""
          class="page__xs__menu circle__img"
          id="business"
        />
        <img
          src="~/assets/img/menu/partners.jpg"
          alt=""
          class="page__xs__menu circle__img"
          id="partners"
        />
        <img
          src="~/assets/img/menu/contact.jpg"
          alt=""
          class="page__xs__menu circle__img"
          id="contact__img"
        />
      </div>
    </div>
  </div>
</template>
<script>
export default {
  transition: {
    name: "test",
    mode: "out-in",
  },
  data() {
    return {
      showMenu: false,
      active: false,
      openMenu: false,
      closeMenu: false,
      hidePicture: false,
      sx: false,
    };
  },
  methods: {
    clickOnMenu() {
      this.showMenu = !this.showMenu;
      this.active = !this.active;
      this.openMenu = !this.openMenu;
      this.closeMenu = !this.closeMenu;
      this.hidePicture = !this.closeMenu;
    },
  },
  mounted() {
    //hover menu effect with foto
    if ($(window).width() <= 1024) {
      this.sx = true;
    }

    if ($(window).width() >= 1024) {
      // gsap.set(".page__menu", { autoAlpha: 0, y: 100 });

      gsap.set(".page__xs__menu", { autoAlpha: 0, x: 200 });
      const $button__xs__menu = $(".button__xs__menu");
      const $page__xs__menu = $(".page__xs__menu");
      $button__xs__menu.on("mouseenter", function (e) {
        var $thisPage = $(this).attr("id");
        gsap.to($thisPage, 0.2, {
          x: 0,
          autoAlpha: 1,
          delay: 0.2,
          ease: Sine.easeIn,
        });
      });
      $button__xs__menu.on("mouseleave", function (e) {
        gsap.to($page__xs__menu, 0.4, {
          x: 200,
          autoAlpha: 0,
          ease: Power2,
        });
      });
    }
  },
};
</script>
<style lang="scss">
@import "~/assets/styles/variables";
@import "~/assets/styles/fonts";
.menu__btn__x,
.menu__wrapper__xs,
.active__xs,
.active__xs__opacity,
.menu__btn__xs {
  display: none;
}
.white {
  background: #fff;
}
.page__xs__menu {
  visibility: hidden;
  position: absolute;
  top: 200px;
  left: 35vw;
  width: 700px;
}
.circle__img {
  top: 100px;
}
.wrapper {
  position: relative;
  z-index: 2000;
}
.active {
  display: block;
  transform: scale(60);
  transition: transform 0.8s ease-in-out !important;
  opacity: 1;
  background: #fff;
}
.menu__btn {
  position: relative;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  background: #fff;
  text-align: center;
  line-height: 75px;
  color: $light;
  letter-spacing: 1px;
  font-size: 20px;
  font-family: $bc;
  z-index: 21;
  & span {
    transition: all 0.5s ease-in-out;
  }
  &.closeMenu {
    & span {
      transition: all 0.5s ease-in-out;
      transform: translateX(60px);
      font-size: 40px;
    }
  }
}
.closedMenu {
  position: absolute;
  opacity: 1;
  left: -100px;
  transition: all 0.5s ease-in;
  & span {
    display: inline-block;
    position: absolute;
    top: 32px;
    width: 40px;
    height: 5px;
    background: $orange;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    &:nth-child(1) {
      transform: rotate(45deg);
    }
    &:nth-child(2) {
      transform: rotate(-45deg);
    }
  }
  &.openMenu {
    transform: translateX(100px);
    & span {
      opacity: 1;
    }
  }
}
.menu__wrapper {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  transition: transform 0.8s ease-in;
}
.menu__content {
  position: fixed;
  display: block;
  top: 100px;
  left: 0;
  transform: translateX(-100vw);
  transition: transform 0.5s ease-in;
  font-size: 50px;
  font-family: $bc;
  width: 35vw;
  position: absolute;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 50px;
  & a {
    text-decoration: none;
    color: #fff;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: $orange;
  }
  & a:nth-child(6) {
    display: block;
    margin-top: 20px;
  }

  li {
    line-height: 70px;
    transition: all 0.2s;
    display: block;

    &:hover {
      color: $orange;
      margin-left: 30px;
      cursor: url("~assets/img/cursor.png") 40 20, auto;
    }
  }

  &.showMenu {
    display: block;
    overflow: hidden;
    transform: translateX(0);
  }

  .sub__item {
    text-transform: lowercase;
    color: $light;
    -webkit-text-stroke-width: 0;
    -webkit-text-stroke-color: none;
    display: inline-flex;
    align-items: center;
    transition: all 0.3s ease-in-out;
    line-height: 30px;

    &:hover {
      color: $light;
      margin-left: 0;
    }
    &:hover::before {
      transform: scaleX(1.5);
      transition: all 0.3s ease-in-out;
      margin-right: 60px;
    }
    li {
      transition: all 0.3s ease-in-out;
    }
  }

  .sub__item::before {
    display: block;
    content: "";
    width: 90px;
    height: 8px;
    line-height: 70px;
    background: $light;
    transition: all 0.3s ease-in-out;
    margin-right: 30px;
  }
}
.menu--txt {
  display: inline-block;
}
.menu__btn__xs {
  display: none;
}

@media (max-width: 768px) {
  .menu__btn__x,
  .menu__wrapper__xs,
  .active__xs,
  .active__xs__opacity,
  .menu__btn__xs {
    display: block;
  }
  .menu__content {
    position: fixed;
    transform: translateX(200vw);
    transition: transform 0.8s ease-in;
    padding-top: 70px;
    padding-left: 30px;
    background: #fff;
    top: 0px;
    height: 100vh;
    width: 100vw;
    font-size: 40px;
    &.showMenu {
      transform: translateX(0);
    }
    .sub__item::before {
      width: 50px;
    }
    li {
      line-height: 60px;
    }
  }
  .menu__btn {
    background: transparent;
  }
  .menu__wrapper {
    background: transparent;
  }
  .menu--txt {
    display: none;
  }
  .menu__btn__xs {
    display: block;
    position: fixed;
    top: 45px;
    left: 95%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    span {
      display: block;
      width: 30px;
      height: 3px;
      margin: 5px 0 0 0;
      background: #fff;
      border-radius: 5px;
    }
  }
  .closedMenu {
    &.openMenu {
      transform: translateX(150px);
    }
  }
  .menu__wrapper__xs {
    display: block;
    position: fixed;
    top: 45px;
    left: calc(100% - 50px);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    opacity: 1;
    transition: transform 0.8s ease-in;
  }
  .active__xs {
    display: block;
    transform: scale(60);
    transition: transform 0.8s ease-in;
    opacity: 1;
    background: #fff;
  }
  .active__xs__opacity {
    display: block;
    background: #fff;
    transform: scale(0);
    transition: transform 0.8s ease-in;
    opacity: 1;
  }
}
</style>
