@import "~/assets/styles/variables";
header{
  font-size: 20px;
  margin:90px 0 20px 0;
}
section:nth-of-type(1){
  flex-direction: column;
  .txt{
    font-size: 14px;
    text-align: center;
    line-height: 16px;
    font-weight: 400;
  }
  p{
    margin-bottom: 10px;
  }
  img{
    margin-top: 30px;
    width: 100%;
  }
  span{
    font-weight: 400;
  }
}
.card{
  &__header{
    padding: 30px 40px 0 30px;
  }
  .icon {  
    &::before{
      z-index: -1;
      overflow: hidden;
    }
  }
}
.card:nth-of-type(1){
  .icon {
    left: calc(100% - 70px);
    &::before{
      top: -5px;
      left: 5px;
    }
  }
}
.card:nth-of-type(3){
  .icon {
    left: calc(100% - 80px);
    &::before{
      top: -5px;
      left: 15px;
      width: 80%;
    }
    img{
      opacity: 0.5;
    }
  }
}
.card:nth-child(even) {
  .card__header{
    padding: 30px 0 0 30px ;
  }
}
.card:nth-of-type(3) {
  .card__header{
    padding: 50px 50px 0 0px ;
  }
}
.card:nth-of-type(1){
  .hide__content{
    .content{
        margin-top: 140px;
    }
    &::after {
      content: "The modern vision of marketing opens the ways yhat were unavailable before";
    }
  }
}
.card:nth-of-type(2){
  .hide__content{
    .content{
        margin-top: 250px;
    }
    &::after {
      content: "The Internet is the most important source of communication today.";
    }
  }
}
.card:nth-of-type(3){
  .hide__content{
    .content{
        margin-top: 220px;
    }
    &::after {
      content: "Traditional tools of marketing are still present on the market.";
    }
  }
}
