@import "~/assets/styles/variables";
header,
main,
section {
  padding: 0 25px;
}
header{
  font-size: 20px;
  margin:90px 0 20px 0;
}
.header__wrapper {
  flex-direction: row-reverse;

}

nav {
  padding: 0;
}
.header__name {
  display: block !important;
}

.card{
  flex-direction: column;
  position: relative;
  padding: 0;

  &__header{
    padding: 45px 0 0 30px;
    height: 130px;
    justify-self: center;
    font-size: 32px !important;
  }
  .icon {
    position: absolute;
    left: calc(100% - 65px);
    top:10px;
    padding: 5px 0;
    &::before{
      display: inline-block;
      position: absolute;
      content: '';
      height: 120px;
      top: -5px;
      overflow: hidden !important;
      width: 80%;
      background: $bright;
    }
  }
  &__content{
    padding: 20px 10px;
    margin-top: 0;
  }
}
.card:nth-child(even) {
  flex-direction: column;
  .card__header{
    min-width: 0;
    margin-left: 90px;
    padding: 40px 0 0 0 ;
    font-size: 26px !important;
  }
  .icon{
    left:25px;
    &::before{
      background: $light;
    }
  }
}
.card__header {
  font-size: 30px;
}
.show__content__btn {
  display: block;
  transform: rotate(180deg);
  animation: showBtn 1s ease-in-out infinite;
}
@keyframes showBtn{
  from{
    margin-top: 0px;
  }
  to{
    margin-top: 10px;
  }
}
.card{
.card__content{
  overflow: hidden;
  background: transparent linear-gradient(180deg, #643E85 0%,  #3C2057 100%) 0%
    0% no-repeat padding-box;
  }
  .hide__content{
    overflow: hidden;
    transition: all 3s ease-in;
    max-height: 55px;
    &::after{
      position: absolute;
      display: inline-block;
      content:'adasdasd asdasdas';
      width: 90%;
      left:10px;
    }
    .content{
      opacity:0;
    }
  }
}
.card:nth-of-type(1){
  .hide__content{
    .content{
        margin-top: 50%;
    }
  }
}
.card:nth-child(even){
  .card__content{
    overflow: hidden;
    background: transparent linear-gradient(180deg, #3C2057 0%,  #302639 100%) 0%
      0% no-repeat padding-box;
  }
}
.header__wrapper {
  padding: 0 25px;
}