@import "~/assets/styles/variables";
section:nth-of-type(1){
  .txt{
    font-size: 14px;
    line-height: 20px;
  }
  p{
    margin-bottom: 0;
  }
  span {
    font-weight: 200;
  }
}
.card:nth-of-type(1){
  .icon{
    left: calc(100% - 50px);
  }
}
.card {
  &__header {
    font-size: 28px !important;
    padding: 40px 0 0 25px;
    max-width: 300px;
    width: 60% !important;
  }
}
.card {
  &__header:nth-of-type(1) {
    padding: 50px 0 0 25px;
  }
}
.card:nth-of-type(1){
  .icon {
    left: calc(100% - 60px);
    &::before{
      top: -5px;
      left: -5px;
      width: 100%;
    }
  }
}
.card:nth-of-type(3){
  .icon {
    left: calc(100% - 80px);
    &::before{
      top: -5px;
      left: 15px;
      width: 80%;
    }
  }
}
.sm__cards {
  flex-direction: column;
  width: 100%;
  .sm__card {
    width: 100%;
    &__content {
      font-size: 28px;
    }
  }
  .sm__card:nth-of-type(1) {
    margin-bottom: 20px;
    .sm__card__content {
      padding-left: 25px;
      text-align: left;
    }
  }
  .sm__card:nth-of-type(4) {
    .sm__card__content {
      text-align: left;
      padding-left: 10px;
    }
  }
}
.card:nth-of-type(1){
  .hide__content{
    .content{
        margin-top: 150px;
    }
    &::after {
      content: "Do you need an interesting but simple information platform ?";
    }
  }
}
.card:nth-of-type(2){
  .hide__content{
    .content{
        margin-top:150px;
    }
    &::after {
      content: "Trading is your speciality ?";
    }
  }
}
.card:nth-of-type(3){
  .hide__content{
    .content{
        margin-top:190px;
    }
    &::after {
      content: "Do you want to elevate your site to a higher level ?";
    }
  }
}