<template>
  <div class="business__wrapper">
    <nav>
      <Header><template v-slot:header__name>business</template></Header>
    </nav>
    <div class="anime__div"></div>
    <header>Open a prestigious foreign company with our help.</header>
    <section class="countries">
      <div class="countries__txt">
        <img src="~/assets/img/business/1.svg" alt="" />
        <span> Full support with opening an external branch:</span>
      </div>
      <div class="cities">
        <div class="city">
          <img src="~/assets/img/business/malta.svg" alt="" />
          <div class="city__name">Malta</div>
        </div>
        <div class="city">
          <img src="~/assets/img/business/dubai.svg" alt="" />
          <div class="city__name">Dubai</div>
        </div>
        <div class="city">
          <img src="~/assets/img/business/honk__kong.svg" alt="" />
          <div class="city__name">hong kong</div>
        </div>
      </div>
      <div class="bottom__txt">
        We are cooperating directly with the best partners in Dubai, Hong Kong,
        and Malta.
      </div>
    </section>
    <section class="countries section2">
      <div class="countries__txt">
        <img src="~/assets/img/business/2.svg" alt="" />
        <span
          >We will help you open a fully-fledged foreign branch, step by
          step:</span
        >
      </div>
      <div class="items">
        <div class="item">
          <img src="~/assets/img/business/office__address.svg" alt="" />
          <div class="item__name">Office address assurance</div>
        </div>
        <div class="item">
          <img src="~/assets/img/business/full__assistance.svg" alt="" />
          <div class="item__name">
            Full assistance with incorporation and registration
          </div>
        </div>
        <div class="item">
          <img src="~/assets/img/business/accaunt.svg" alt="" />
          <div class="item__name">Accountant services in a foreign country</div>
        </div>
        <div class="item">
          <img src="~/assets/img/business/bank.svg" alt="" />
          <div class="item__name">Opening a bank account</div>
        </div>
      </div>
    </section>
    <section class="section3">
      <div class="countries__txt">
        <img src="~/assets/img/business/3.svg" alt="" />
        <span
          >Business events organization - complex services for our
          customers.</span
        >
      </div>
      <div class="header3">
        Do you want to set up a professional, unforgettable event that leads
        your company into the business salons?
      </div>
      <span
        >Just for you, we will take care of setting up the event from the
        basics.
        <br />
        We will use our experience and wide range of contacts to organize and
        host every event and deliver full marketing and logistic support. If you
        also want to show your brand at a big industry event, we’ll take care of
        your business booth. We guarantee that you’ll catch the attention of
        every participant.
      </span>
      <div class="bottom__section">
        <div class="header">
          Your company will be the highlight of the event!
        </div>
        <img src="~/assets/img/business/people.svg" alt="" />
      </div>
    </section>
    <Barrow />
  </div>
</template>
<script>
import Header from "../components/Header";
import Barrow from "../components/barrow.vue";
export default {
  components: {
    Header,
    Barrow,
  },
  mounted() {
    gsap.from(".anime__div", {
      height: "100vh",
      ease: "Power2.ease",
      delay: 0.5,
      duration: 1,
    });

    gsap.from("header", {
      y: "100px",
      opacity: 0,
      duration: 1,
      delay: 1,
      ease: "Power2.easein",
    });
    gsap.from(".countries:nth-of-type(1)", {
      x: "-100px",
      opacity: 0,
      duration: 1,
      delay: 1,
      ease: "Power2.easein",
    });
    gsap.from(".section2", {
      x: "100px",
      opacity: 0,
      duration: 1,
      delay: 1,
      ease: "Power2.easein",
    });
  },
};
</script>
<style lang="scss" scoped>
@import "~/assets/styles/variables";
@import "~/assets/styles/fonts";
.anime__div {
  background: $orange;
}
.business__wrapper {
  overflow: hidden;
  min-height: 100vh;
  background: #fff;
  font-family: $bc;
  a {
    text-decoration: none;
  }
}
nav {
  background: $orange;
  padding: $wrapper-padding;
  position: fixed;
  width: 100%;
  z-index: 2;
}
header {
  margin-top: 150px;
  font-size: 26px;
  line-height: 28px;
  color: $light;
  text-align: center;
}
.countries__txt {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 20px;
  line-height: 30px;
  color: $dark;
  span {
    margin-left: -100px;
    margin-top: 20px;
  }
}
.cities,
.items {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.city__name {
  font-size: 46px;
  color: $dark;
  font-weight: bold;
  text-align: center;
  padding: 20px 0;
  text-transform: uppercase;
}
.bottom__txt {
  text-align: center;
  color: $dark;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  margin-top: 40px;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item__name {
  margin-top: 20px;
  color: $dark;
  font-weight: 20px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  width: 60%;
}
.header3 {
  margin: 50px auto;
  font-size: 26px;
  line-height: 28px;
  color: $orange;
  text-align: center;
  width: 80%;
}
.section3 {
  > span {
    display: inline-block;
    padding: $wrapper-padding;
    color: $dark;
    font-size: 20px;
    line-height: 30px;
    font-weight: 200;
  }
}
.bottom__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  .header {
    margin: 50px auto;
    text-align: center;
    font-size: 26px;
    line-height: 28px;
    color: $dark;
  }
  img {
    align-self: center;
    margin-bottom: 20px;
  }
}
@media (max-width: $breakpoint-xs) {
  @import "~/assets/styles/business__xs";
}
</style>