<template>
  <div class="contact__wrapper">
    <nav>
      <Header><template v-slot:header__name>contact</template></Header>
    </nav>
    <div class="anime__div"></div>
    <header>
      <p>Looking for a change?</p>
      <span>We are here for you !</span>
    </header>
    <main>
      <form action="https://formspree.io/f/contact@ecg.marketing" method="post">
        <input name="name" id="full-name" type="text" placeholder="Name" />
        <input name="Email" id="email" type="email" placeholder="E-mail*" />
        <label for="message" id="ms__label">Message*</label>
        <textarea name="message" id="message"></textarea>
        <div class="bottom__form">
          <div>
            <input type="checkbox" name="" id="checkbox" />
            <span class="checkmark"></span>
            <label for="checkbox">
              <div>
                <p>
                  The controller of your personal data is ECG Marketing Ltd.[see
                  more]
                </p>
              </div>
            </label>
          </div>
          <button type="submit" value="Submit">send</button>
        </div>
        <div class="view__information">
          <p>View the information about the Controller.</p>
          *obligatory
        </div>
      </form>
      <div class="contact">
        <div class="phone">
          <span class="icon"
            ><img src="~/assets/img/contact/phone.svg" alt=""
          /></span>
          + 48 660 555 222
        </div>
        <div class="mail">
          <span class="icon"
            ><img src="~/assets/img/contact/mail.svg" alt="" /></span
          >contact@ecg.marketing
        </div>
        <div class="address">
          <span class="icon"
            ><img src="~/assets/img/contact/map__pointer.svg" alt=""
          /></span>
          <div class="address__content">
            <p>Zamkowa 13/1</p>
            33-332 Kraków
          </div>
        </div>
        <div class="map__img">
          <img src="~/assets/img/contact/map2.svg" alt="" />
        </div>
        <div class="social">
          <div>
            <span class="fb"
              ><img src="~/assets/img/contact/fb.svg" alt=""
            /></span>
            <span class="insta"
              ><img src="~/assets/img/contact/insta.svg" alt=""
            /></span>
            <span class="in"
              ><img src="~/assets/img/contact/in.svg" alt=""
            /></span>
            <span class="Be"
              ><img src="~/assets/img/contact/Be.svg" alt=""
            /></span>
          </div>
          <div class="txt">/ecg.marketing</div>
        </div>
      </div>
    </main>
    <section class="bottom">
      <section class="bottom__txt">
        <div>
          <p>We will expand the potential of your brand.</p>
          Do not hesitate to contact us!
        </div>
        <img src="~/assets/img/contact/paper__plane.svg" alt="" />
      </section>
    </section>
    <Barrow />
  </div>
</template>
<script>
import Header from "../components/Header";
import Barrow from "../components/barrow.vue";
export default {
  components: {
    Header,
    Barrow,
  },
  mounted() {
    gsap.from(".anime__div", {
      height: "100vh",
      ease: "Power2.ease",
      duration: 1,
    });

    gsap.from("header", {
      y: "100px",
      opacity: 0,
      duration: 1,
      delay: 0.2,
      ease: "Power2.easein",
    });
    gsap.from("form", {
      x: "-100px",
      opacity: 0,
      duration: 1,
      delay: 0.2,
      ease: "Power2.easein",
    });
    gsap.from(".contact", {
      x: "100px",
      opacity: 0,
      delay: 0.2,
      duration: 1,
      ease: "Power2.easein",
    });

    $(".checkmark").click(function () {
      $(".checkmark").toggleClass("checkedInput");
    });
  },
};
</script>
<style lang="scss" scoped>
@import "~/assets/styles/variables";
@import "~/assets/styles/fonts";
.anime__div {
  background: $orange;
}
.contact__wrapper {
  overflow: hidden;
  min-height: 100vh;
  background: #fff;
  position: relative;
}
header,
main,
.bottom {
  padding: $wrapper-padding;
}
nav {
  background-color: $orange;
  padding: $wrapper-padding;
  position: fixed;
  width: 100%;
  z-index: 2000;
}
header {
  color: $dark;
  font-size: 20px;
  line-height: 30px;
  font-family: $bc;
  margin-top: 150px;
  span {
    font-size: 28px;
    letter-spacing: 1.4px;
    line-height: 34px;
    color: $orange;
    font-weight: bold;
  }
}
main {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  width: 100%;
}
form {
  display: flex;
  flex-direction: column;
  width: 50%;
  font-family: $bc;
  color: $dark;
  font-size: 14px;
  opacity: 1;
  input {
    border: none;
    border-bottom: 1px solid $orange;
    margin-top: 30px;
    font-family: $bc;
  }
  input:focus {
    outline: none;
    border: none;
    border-bottom: 1px solid $orange;
  }
  #ms__label {
    margin-top: 30px;
  }
  textarea {
    border: 1px solid $orange;
    border-radius: 10px;
    height: 200px;
    padding: 10px;
    margin-top: 10px;
  }
  textarea {
    outline: none;
  }
}
.bottom__form {
  display: flex;
  position: relative;
  justify-content: space-between;
  font-size: 10px;
  color: $dark;
  line-height: 12px;
  opacity: 1;
  align-items: baseline;
  input {
    display: inline-block;
    -webkit-display: inline-block;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    padding: 20px;
    margin-right: 10px;
    opacity: 0;
  }
  input:checked ~ .checkmark {
    background-color: $dark;
  }
  .checkedInput {
    background: $light !important;
  }
  .checkmark:after {
    content: "";
    position: absolute;
  }
  input:checked ~ .checkmark:after {
    display: block;
    background-color: $light;
  }
  .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .checkmark {
    position: absolute;
    height: 25px;
    width: 25px;
    background-color: #fff;
    top: 20px;
    display: block;
    border: 1px solid $light;
    border-radius: 5px;
    margin-right: 40px;
  }
  > div {
    display: flex;
  }
  label {
    display: flex;
    margin-top: 20px;
    align-items: baseline;
    margin-left: 40px;
  }
  button {
    background: $orange;
    padding: 5px 40px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
    outline: none;
    font-family: $bc;
  }
}
.view__information {
  font-size: 10px;
  color: $dark;
  line-height: 12px;
  margin-top: 10px;
  p {
    text-decoration: underline;
  }
}
.contact > div {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: $dark;
  line-height: 30px;
  font-family: $bc;
  margin: 20px 0;
  font-weight: 200;
  span {
    margin-right: 10px;
  }
}
.contact .address {
  flex-wrap: wrap;
  justify-content: flex-start;
  span {
    margin-right: 20px;
  }
  p {
    display: block;
  }
}
.map__img img {
  margin: 20px 0 20px 0;
}
.social {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  div {
    display: flex;
    align-items: flex-end;
    margin: 20px 20px 0 0;
    img {
      margin: 20px 20px 0 0;
    }
  }
}
.bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  &__txt {
    display: flex;
    width: 80%;
    font-size: 26px;
    letter-spacing: 1.4px;
    line-height: 34px;
    color: $dark;
    font-family: $bc;
    margin-bottom: -5px;
    p {
      font-size: 40px;
      line-height: 48px;
      color: $light;
      font-family: $bc;
    }
    img {
      margin-left: -50px;
    }
  }
}

@media (max-width: $breakpoint-xs) {
  @import "~/assets/styles/contact__xs";
}
@media (max-width: 330px) {
  .phone__icon {
    left: calc(100% - 65px);
    top: 60%;
    img {
      width: 80%;
    }
  }
}
</style>
