<template>
  <div id="wrapper__main__page">
    <div class="bg"></div>
    <div class="menu--xs">
      <Menu />
    </div>
    <Loading v-if="position === -1" />
    <Home @scroll-bottom="scrollBottom" v-else-if="position === 0" />
    <MainPage v-else />
  </div>
</template>
<script>
import Loading from "../components/Loading";
import Home from "../components/Home";
import Menu from "../components/Menu";
import MainPage from "../components/MainPage";
export default {
  data: () => ({
    position: -1,
  }),
  component: {
    Loading,
    Home,
    MainPage,
    Menu,
  },
  methods: {
    scrollTop() {
      this.position = 0;
    },
    scrollBottom() {
      this.position = 1;
    },
  },
  mounted() {
    const vue = this;
    setTimeout(() => {
      this.position = 0;
    }, 2000);
    window.addEventListener("scroll", () => {
      console.log(window.scrollY);
      if (window.scrollY >= 1) {
        vue.scrollBottom();
      } else {
        vue.scrollTop();
      }
    });
  },
};
</script>
<style>
body {
  height: calc(100vh + 1px);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: none;
}
</style>
<style lang="scss" >
@import "../assets/styles/variables";
.menu--xs {
  display: none;
  position: fixed;
  left: calc(100% - 90px);
  z-index: 2005;
}
.bg {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("~assets/img/home__bgc.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  z-index: 0;
}
@media (min-width: 1300px) {
  #wrapper__main__page {
    background-size: cover;
    -webkit-background-size: cover;
    // background-attachment: fixed;
    // -webkit-background-attachment: fixed;
    height: calc(100vh + 5px);
  }
}

@media (max-width: $breakpoint-xs) {
  .bg {
    background-position-x: 91% !important;
  }
  .menu--xs {
    display: block;
    position: fixed;
    top: 25px;
    left: calc(100% - 110px);
    .menu__btn__xs {
      top: 48px;
      left: calc(100% - 60px) !important;
    }
    .menu__wrapper__xs {
      top: 40px;
      left: calc(100% - 60px);
      -webkit-left: calc(100% - 50px);
    }
  }
}
@media (max-width: 330px) {
  .menu--xs {
    left: calc(100% - 80px);
  }
}
</style>
