<template>
  <div class="ouroffer__wrapper">
    <nav>
      <Header><template v-slot:header__name>our offer</template></Header>
    </nav>
    <div class="anime__div"></div>
    <header>
      Creating ideal solutions for communication and business purposes.
      <p>Building solid and durable relations with receivers.</p>
    </header>
    <main>
      <nuxt-link to="/branding">
        <div class="branding">
          <div class="txt">
            <span
              >branding branding branding branding branding branding
              branding</span
            >
          </div>
        </div>
      </nuxt-link>
      <nuxt-link to="/marketing">
        <div class="marketing">
          <div class="txt">
            <span
              >marketing marketing marketing marketing marketing marketing
              marketing</span
            >
          </div>
        </div>
      </nuxt-link>
      <nuxt-link to="/webdesign">
        <div class="webdesign">
          <div class="txt">
            <span
              >web desing web desing web desing web desing web desing web desing
              web desing</span
            >
          </div>
        </div>
      </nuxt-link>
    </main>
    <Barrow />
  </div>
</template>

<script>
import Header from "../components/Header";
import Barrow from "../components/barrow.vue";
export default {
  components: {
    Header,
    Barrow,
  },
  mounted() {
    gsap.from(".anime__div", {
      height: "100vh",
      ease: "Power2.ease",
      delay: 0.5,
      duration: 1,
    });

    gsap.from("header", {
      y: "100px",
      opacity: 0,
      duration: 1,
      delay: 0.5,
      ease: "Power2.easein",
    });
    this.brandingAnimation("main .branding", ".txt", "span", 5);
    this.brandingAnimation("main .marketing", ".txt", "span", 4);
    this.brandingAnimation("main .webdesign", ".txt", "span", 4.5);
  },
  methods: {
    brandingAnimation(el, child, span, time) {
      var $holder = $(el);
      var $list = $holder.find(child);
      var $clonedList = $list.clone();
      var listWidth = $list.find(span).length * 400;
      var endPos = $holder.width() - listWidth;
      $list.add($clonedList).css({
        width: listWidth + "px",
      });
      $clonedList.addClass("cloned").appendTo($holder);
      //TimelineMax
      var infinite = new TimelineMax({ repeat: -1, paused: false });
      var time = time;
      infinite.fromTo(
        $list,
        time,
        { left: 0 },
        { left: -listWidth, ease: Linear.easeNone },
        0
      );
      infinite.fromTo(
        $clonedList,
        time,
        { left: listWidth },
        { left: 0, ease: Linear.easeNone },
        0
      );
      infinite.set($list, { left: -listWidth });
      infinite.to(
        $clonedList,
        time,
        { left: -listWidth, ease: Linear.easeNone },
        time
      );
      infinite.to($list, time, { left: 0, ease: Linear.easeNone }, time);
      //Pause/Play
      $(el)
        .on("mouseenter", function () {
          infinite.pause();
        })
        .on("mouseleave", function () {
          infinite.play();
        });
      //Show/Hide overflow
      $holder.addClass("hide-overflow");
    },
  },
};
</script>
<style lang="scss" scoped>
@import "~/assets/styles/variables";
@import "~/assets/styles/fonts";
.anime__div {
  background: $orange;
}
.txt.cloned {
  position: absolute;
  top: 0;
  left: 100%;
  background: #000;
  opacity: 0;
}
.ouroffer__wrapper {
  overflow: hidden;
  min-height: 100vh;
  background: #fff;
  position: relative;
}
nav {
  background-color: $orange;
  padding: $wrapper-padding;
  position: fixed;
  width: 100vw;
  z-index: 2000;
}
header {
  font-family: $bc;
  color: $dark;
  text-align: center;
  font-size: 26px;
  font-weight: 200;
  line-height: 30px;
  letter-spacing: 1.3px;
  margin: 150px auto;
  margin-bottom: 70px;
  width: 80%;
}
main {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  font-family: $bc;
  font-size: 100px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 150px;
  color: $light;
  border-top: 2px solid $dark;
  border-bottom: 2px solid $dark;
  & div {
    display: flex;
    flex-wrap: nowrap;
    height: 150px;
    white-space: nowrap;
    width: 100vw;
    position: relative;
  }
  a {
    text-decoration: none;
    cursor: url("~assets/img/cursor.png") 40 20, auto;
  }
}
.branding {
  position: relative;
  color: $light;
}
.marketing {
  background: $bright;
  color: $bright;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
}
.webdesign {
  background: $orange;
  color: #fff;
}
.business {
  background: #fff;
  color: #fff;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: $bright;
}
@media (max-width: $breakpoint-xs) {
  .header__wrapper {
    padding: 0 25px;
  }
  nav {
    padding: 0;
  }
  main {
    margin-bottom: 100px;
    font-size: 76px;
    line-height: 80px;
    & div {
      max-height: 80px;
    }
  }
  header {
    margin-top: 90px;
    font-size: 16px;
    margin-bottom: 70px;
  }
}
</style>