<template>
  <div class="partners__wrapper">
    <img src="~/assets/img/partners/left.png" alt="" class="left" />
    <img src="~/assets/img/partners/right.png" alt="" class="right" />
    <nav>
      <Header><template v-slot:header__name>partners</template></Header>
    </nav>
    <div class="anime__div"></div>
    <header>
      We are cooperating with companies from various fields of business. Here
      are the brands we have been already working for:
    </header>
    <main>
      <div class="small__imgs action">
        <img src="~/assets/img/partners/salve3.png" alt="" data-slide="1" />
        <img src="~/assets/img/partners/geon.png" alt="" data-slide="2" />
        <img src="~/assets/img/partners/mad2.png" alt="" data-slide="3" />
        <img src="~/assets/img/partners/soo2.png" alt="" data-slide="4" />
        <img src="~/assets/img/partners/kabn.png" alt="" data-slide="5" />
        <img src="~/assets/img/partners/logo.png" alt="" data-slide="6" />
      </div>

      <section class="sliders" id="salve">
        <div class="slide">
          <img src="~/assets/img/partners/salve3.png" alt="" />
          <div class="slide__txt">
            Salve Arts Apartments offers attractive and luxury apartments in the
            touristic heart of Krakow, Poland.
          </div>
        </div>

        <div class="slide" id="geon">
          <img src="~/assets/img/partners/geon.png" alt="" />
          <div class="slide__txt">
            Geon is a pioneer in augmented reality technology and creator of a
            mobile app based on the original reward program.
          </div>
        </div>

        <div class="slide" id="mad">
          <img src="~/assets/img/partners/mad2.png" alt="" />
          <div class="slide__txt">
            MadWaves is an incubator platform for start-ups, connecting the
            power of active communities.
          </div>
        </div>

        <div class="slide" id="soo">
          <img src="~/assets/img/partners/soo2.png" alt="" />
          <div class="slide__txt">
            SOOC promotes entrepreneurship in the Kingdom of Cambodia and
            supports the development of this country.
          </div>
        </div>

        <div class="slide" id="kabn">
          <img src="~/assets/img/partners/kabn.png" alt="" />
          <div class="slide__txt">
            KABN delivers world-class solutions that focus on verifying,
            managing, and monetizing digital identity.
          </div>
        </div>

        <div class="slide" id="barber__img">
          <img src="~/assets/img/partners/logo.png" alt="" />
          <div class="slide__txt" id="barber">
            Bart’s Barbershop is a unique place in Krakow, Poland, which
            combines professional service with a customer-friendly atmosphere.
          </div>
        </div>
      </section>
    </main>
    <Barrow />
  </div>
</template>

<script>
import Barrow from "../components/barrow.vue";
import Header from "../components/Header.vue";
export default {
  components: {
    Barrow,
  },
  mounted() {
    $(document).ready(function () {
      $(".sliders").slick({
        infinite: true,
        speed: 1000,
        autoplay: true,
        autoplaySpeed: 3000,
        slidesToShow: 3,
        pauseOnDotsHover: "true",
        slidesToScroll: 1,
        // useCSS: false,
        responsive: [
          {
            breakpoint: 1200,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 1,
              infinite: true,
              centerMode: true,
              // useTransform: false,
              // useCSS: false,
            },
          },
          {
            breakpoint: 800,
            settings: {
              slidesToShow: 1,
              centerMode: true,
              slidesToScroll: 1,
            },
          },
        ],
      });
      if ($(window).width() <= 1100) {
        $("img[data-slide]").click(function (e) {
          e.preventDefault();
          var slideno = $(this).data("slide");
          $(".sliders").slick("slickGoTo", slideno - 1);
        });
      }
      $("img[data-slide]").click(function (e) {
        e.preventDefault();
        var slideno = $(this).data("slide");
        $(".sliders").slick("slickGoTo", slideno - 2);
      });
    });

    //gsap animation

    gsap.from("header", {
      y: "100px",
      opacity: 0,
      duration: 1,
      delay: 0.5,
      ease: "Power2.easein",
    });
    gsap.from(".anime__div", {
      height: "100vh",
      ease: "Power2.ease",
      delay: 0.5,
      duration: 1,
    });
  },
};
</script>

<style lang="scss" scoped>
@import "~/assets/styles/variables";
@import "~/assets/styles/fonts";
.anime__div {
  background: $orange;
  position: relative;
  z-index: 1;
}
.partners__wrapper {
  max-width: 100vw !important;
  overflow: hidden !important;
}
.left,
.right {
  display: block;
  position: absolute;
  height: 50vh;
  left: 0;
  z-index: 1;
  top: 40vh;
  width: 150px;
}
.right {
  left: calc(100% - 150px);
  top: 40vh;
}
header,
section {
  padding: $wrapper-padding;
  position: relative;
  z-index: 0;
}
.partners__wrapper {
  overflow: hidden;
  min-height: 100vh;
  font-family: $bc;
  background: #fff;
  a {
    text-decoration: none;
  }
}
nav {
  background: $orange;
  padding: $wrapper-padding;
  position: fixed;
  width: 100%;
  z-index: 2;
  max-width: 100vw;
}
header {
  margin-top: $header-height;
  font-size: 26px;
  line-height: 28px;
  color: $light;
  text-align: center;
}
.sliders {
  display: flex;
  width: 100vw !important;
  padding: 10px 0 !important;
  align-items: center;
  #barber__img img {
    margin-top: -10px;
  }

  .slide {
    width: 100%;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    font-weight: 200 !important;
    margin: 20px 50px;
  }
  .slide__txt {
    margin-top: -30px;
    text-align: center;
    width: 70%;
    transition: none !important;
    transform: none;
  }
  #barber {
    width: 100%;
    margin-top: -20px;
  }
}
.small__imgs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  img {
    width: 100px;
    margin: 0 20px;
  }
  & img:nth-last-of-type(1) {
    width: 100px;
  }
}
@media (max-width: 1100px) {
  @import "~assets/styles/partners__xs";
}
@media (max-width: 500px) {
  .left {
    left: -10px;
    top: calc(100vh - 50px);
    width: 50px;
    height: 50vh;
  }

  .right {
    left: calc(100% - 50px);
    top: calc(100vh - 50px);
    height: 50vh;
    width: 50px;
  }
}
</style>