<template>
  <div class="portfolio__wrapper">
    <nav>
      <Header><template v-slot:header__name>portfolio</template></Header>
    </nav>
    <section class="filter__menu">
      <button class="filter__menu__item" data-filter="promo">
        promo materials
      </button>
      <button class="filter__menu__item" data-filter="business">
        business card
      </button>
      <button class="filter__menu__item" data-filter="landing">
        landing page
      </button>
      <button class="filter__menu__item" data-filter="application">
        application
      </button>
      <button class="filter__menu__item" data-filter="poster">
        poster/banner
      </button>
      <button class="filter__menu__item" data-filter="digital">digital</button>
      <button class="filter__menu__item" data-filter="print">print</button>
    </section>
    <main>
      <div class="gallery">
        <Gallery />
      </div>
    </main>
    <Barrow />
  </div>
</template>

<script>
import Header from "../components/Header";
import Gallery from "../components/PortfolioGallery";
import Barrow from "../components/barrow.vue";
export default {
  components: {
    Header,
    Gallery,
    Barrow,
  },
  mounted() {
    //filterhandling
    $(document).ready(function () {
      $(".filter__menu__item").click(function () {
        const value = $(this).attr("data-filter");
        $(".imgBox")
          .not("." + value)
          .hide("1000");
        $(".imgBox")
          .filter("." + value)
          .show("1000");
      });
    });
  },
};
</script>

<style lang="scss" scoped>
@import "~/assets/styles/variables";
@import "~/assets/styles/fonts";

.portfolio__wrapper {
  overflow: hidden;
  min-height: 100vh;
  background: #fff;
}
nav {
  background-color: $orange;
  padding: $wrapper-padding;
}

.filter__menu {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  // justify-content: center;
  padding: $wrapper-padding;
  padding-top: 50px;
  padding-bottom: 50px;
  &__item {
    scroll-behavior: smooth;
    scroll-snap-align: end;
    flex: 0 0 auto;
    width: 170px;
    font-family: $bc;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: $dark;
    border: 1px solid $dark;
    border-radius: 23px;
    margin-right: 30px;
    padding: 6px 0;
    background: #fff;
    transition: all 0.3s ease-in-out;
    &::last-child() {
      padding-right: 100px;
    }
    &:focus {
      background: $bright;
      border-radius: 23px;
      outline: none;
      color: #fff;
    }
  }
}
</style>