<template>
  <div class="webdesign__wrapper">
    <nav>
      <Header><template v-slot:header__name>web design</template></Header>
    </nav>
    <header>
      Professional, original, and user-friendly websites of all kinds.
    </header>
    <section>
      <div class="txt">
        <p>
          Are you your own boss and want to have a representative and safe
          website for your business? Or want to focus on a product presentation?
        </p>
        <p>A professional website based on UX rules will satisfy not</p>

        <p class="fullwidth">
          only the owner of a big company, but also an individual user,
          salesman, or blogger. We’ll favor your business in front of the
          competitors and create a comfortable place for your customers and
          receivers.p>
        </p>
        <span
          >From prestigious corporate sites to original and professional
          blogs.</span
        >
      </div>
      <img src="~/assets/img/webdesign/header__img.svg" alt="" />
    </section>
    <main>
      <div class="card" @click="showContent">
        <div class="card__header">landing pages</div>
        <div class="card__content" :class="[{ hide__content: menuClosed }]">
          <div class="icon">
            <img src="~/assets/img/webdesign/webdesign.svg" alt="" />
          </div>
          <div class="content">
            <span
              >Do you need an interesting but simple information platform?
            </span>
            <br />
            <span>
              The landing page by our design will be a perfect
              information-promotion space for your brand. Catching attention,
              readability, functionality, and comfort are the key foundations of
              our designs. <br />
              Everything is created for your needs, expectancies, and the
              convenience of your customer.
            </span>
          </div>
          <div class="show__content__btn" v-if="menuClosed">
            <img src="~/assets/img/scroll__top.svg" alt="" />
          </div>
        </div>
      </div>
      <div class="card" @click="showContent2">
        <div class="card__header">web store design</div>
        <div class="card__content" :class="[{ hide__content: menuClosed2 }]">
          <div class="icon">
            <img src="~/assets/img/webdesign/ecommerce.svg" alt="" />
          </div>
          <div class="content">
            Trading is your specialty?
            <br />
            <span
              >An aesthetic and functional web store is a guarantee of high
              interest in a brand and its products. Very often it can be more
              effective than just a low price. Using the UX rules, the website
              we design will help to multiply your sales, product renown, and
              positive image of your brand. We will choose a domain, script, and
              configuration fitting with your needs.</span
            >
          </div>
          <div class="show__content__btn" v-if="menuClosed2">
            <img src="~/assets/img/scroll__top.svg" alt="" />
          </div>
        </div>
      </div>
      <div class="card" @click="showContent3">
        <div class="card__header">
          portals <br />
          & vortals
        </div>
        <div class="card__content" :class="[{ hide__content: menuClosed3 }]">
          <div class="icon">
            <img src="~/assets/img/webdesign/print.svg" alt="" />
          </div>
          <div class="content">
            Do you want to elevate your site to a higher level?
            <br />
            Portals and vortals are the ideal solutions for entrepreneurs who
            want not only to gather a community around their brands but also to
            accommodate a big amount of information in an honest and clear way.
            If you’re interested in a user-friendly social network and news
            portal or looking for a professional vortal dedicated to your
            branch, then our offer is for you.
          </div>
          <div class="show__content__btn" v-if="menuClosed3">
            <img src="~/assets/img/scroll__top.svg" alt="" />
          </div>
        </div>
      </div>
      <div class="sm__cards">
        <div class="sm__card">
          <div class="sm__card__icon">
            <img src="~/assets/img/webdesign/corposite.svg" alt="" />
          </div>
          <div class="sm__card__content">corporate website</div>
        </div>
        <div class="sm__card">
          <div class="sm__card__icon">
            <img src="~/assets/img/webdesign/productwebsite.svg" alt="" />
          </div>
          <div class="sm__card__content">product websites</div>
        </div>
        <div class="sm__card">
          <div class="sm__card__icon">
            <img src="~/assets/img/webdesign/blog.svg" alt="" />
          </div>
          <div class="sm__card__content">blogs</div>
        </div>
        <div class="sm__card">
          <div class="sm__card__icon">
            <img src="~/assets/img/webdesign/individual.svg" alt="" />
          </div>
          <div class="sm__card__content">individual websites</div>
        </div>
      </div>
    </main>
    <nuxt-link to="webdesign">
      <!-- <div class="check__more">
        <img src="~/assets/img/marketing/check__more.svg" alt="" />
        <span
          ><p>check</p>
          more</span
        >
      </div> -->
    </nuxt-link>
    <Barrow />
  </div>
</template>
<script>
import Header from "../components/Header";
import Barrow from "../components/barrow.vue";
export default {
  components: {
    Header,
    Barrow,
  },
  data() {
    return {
      menuClosed: true,
      menuClosed2: true,
      menuClosed3: true,
    };
  },
  methods: {
    showContent() {
      this.menuClosed = !this.menuClosed;
      this.menuClosed2 = true;
      this.menuClosed3 = true;
    },
    showContent2() {
      this.menuClosed2 = !this.menuClosed2;
      this.menuClosed = true;
      this.menuClosed3 = true;
    },
    showContent3() {
      this.menuClosed3 = !this.menuClosed3;
      this.menuClosed = true;
      this.menuClosed2 = true;
    },
  },
  mounted() {
    gsap.from("header ", {
      y: "100px",
      opacity: 0,
      duration: 1,
      delay: 0.5,
      ease: "Power2.easein",
    });
    gsap.from(".txt ", {
      x: "100px",
      opacity: 0,
      duration: 1,
      delay: 0.5,
      ease: "Power2.easein",
    });
    gsap.from("section img ", {
      x: "-100px",
      opacity: 0,
      duration: 1,
      delay: 0.5,
      ease: "Power2.easein",
    });
    gsap.from(".card:nth-of-type(1) ", {
      x: "100px",
      opacity: 0,
      duration: 1,
      delay: 0.5,
      ease: "Power2.easein",
    });
    gsap.from(".card:nth-of-type(2) ", {
      x: "100px",
      opacity: 0,
      duration: 1,
      delay: 0.5,
      ease: "Power2.easein",
    });
  },
};
</script>

<style lang="scss" scoped>
@import "~/assets/styles/variables";
@import "~/assets/styles/fonts";
header,
main,
section {
  padding: $wrapper-padding;
  position: relative;
  z-index: 0;
}
.webdesign__wrapper {
  overflow: hidden;
  min-height: 100vh;
  font-family: $bc;
  background: #fff;
  a {
    text-decoration: none;
  }
}
nav {
  background: transparent linear-gradient(180deg, #3c2057 0%, #643e85 100%) 0%
    0% no-repeat padding-box;
  padding: $wrapper-padding;
  position: fixed;
  width: 100%;
  z-index: 2;
}
header {
  font-size: 26px;
  line-height: 28px;
  color: $light;
  text-align: center;
  margin: 150px 0 75px 0;
}
section {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  font-size: 20px;
  line-height: 30px;
  color: $dark;
  font-weight: 200;
  span {
    font-weight: 600;
  }
  p {
    margin-bottom: 30px;
  }
  img {
    display: block;
    margin-right: 50px;
    width: 800px;
  }
}
main {
  margin-top: 50px;
  margin-bottom: 100px;
}
.card {
  display: flex;
  align-items: center;
  margin: 20px 0;
  border: 2px solid $light;
  padding: 5px;
  &__header {
    font-size: 56px;
    color: $bright;
    text-transform: uppercase;
    font-weight: bold;
    padding: 25px;
    min-width: 330px;
  }
  .icon {
    margin-left: -20px;
    margin-right: 20px;
    img {
      opacity: 0.5;
    }
  }
  &__content {
    display: flex;
    align-items: center;
    background: $bright;
    padding: 30px 0;
    color: #fff;
    font-size: 14px;
    font-weight: 200;
    line-height: 18px;
    padding-right: 100px;
    span {
      display: inline-block;
    }
  }
}
.card:nth-child(even) {
  flex-direction: row-reverse;
  border: 2px solid $bright;
  .card__header {
    color: $light;
  }
  .card__content {
    background: $light;
    span {
      display: inline-block;
    }
    span:nth-of-type(2) {
      display: inline-block;
      margin-top: 20px;
    }
  }
}
.sm__cards {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  .sm__card {
    box-sizing: border-box;
    width: calc(50% - 10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid $light;
    padding: 5px;
    &__icon {
      background: $bright;
      padding: 10px;
      img {
        opacity: 0.5;
      }
    }
    &__content {
      font-size: 46px;
      color: $bright;
      text-transform: uppercase;
      font-weight: bold;
      text-align: right;
    }
  }
  .sm__card:nth-of-type(1) {
    margin-right: 20px;

    .sm__card__icon {
      background: $light;
    }
    .sm__card__content {
      color: $light;
      padding-right: 25px;
      padding-left: 125px;
      text-align: left;
    }
  }
  .sm__card:nth-of-type(2) {
    flex-direction: row-reverse;
    .sm__card__content {
      color: $bright;
      text-align: left;
      padding-left: 25px;
    }
  }
  .sm__card:nth-of-type(3) {
    flex-direction: row-reverse;
    margin-right: 20px;
    margin-top: 20px;
    .sm__card__content {
      padding-left: 25px;
    }
  }
  .sm__card:nth-of-type(4) {
    margin-top: 20px;
    .sm__card__content {
      color: $light;
      text-align: left;
      padding-right: 25px;
      padding-left: 125px;
    }
    .sm__card__icon {
      background: $light;
    }
  }
}
.check__more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  cursor: url("~assets/img/cursor.png") 40 20, auto;
  span {
    margin-left: 10px;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    color: $bright;
    font-weight: 300;
  }
}
.barrow__wrapper {
  background: transparent linear-gradient(180deg, #643e85 0%, #3c2057 100%) 0%
    0% no-repeat padding-box;
}
.show__content__btn {
  display: none;
}
@media (max-width: $breakpoint-xs) {
  @import "~/assets/styles/offers__xs";
  @import "~/assets/styles/webdesign__xs";
}
@media (max-width: 500px) {
  section:nth-of-type(1) {
    p.fullwidth,
    span {
      display: block;
      width: 130%;
      margin-left: -25%;
    }
    img {
      align-self: flex-start;
      width: 40%;
      margin: -20px 20px 0 -90px;
    }
  }
}
@media (max-width: 330px) {
  section:nth-of-type(1) {
    img {
      margin: 0px 20px 0 -50px;
    }
  }
}
@media (max-width: 1100px) {
  .sm__cards {
    .sm__card {
      &__content {
        font-size: 28px;
      }
    }
  }
}
</style>